<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manage Quote</title>
  </head>
  <body>
	  <h3><p><a th:href="@{/admin/createQuote}">Create Quote</a></p></h3>
	  <h3><p><a th:href="@{/admin/viewQuote}">View Quote</a></p></h3>
	  <h3><p><a th:href="@{/admin/modifyQuote}">Modify Quote</a></p></h3>
	  <h3><p><a th:href="@{/admin/deleteQuote}">Delete Quote</a></p></h3>
  </body>
</html>